# Node.js dependencies
Backend/node_modules
Frontend/node_modules

# Environment variables
Backend/.env
Frontend/.env

# Build outputs
Frontend/dist
Backend/dist

# Logs
*.log

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db