@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@tailwind utilities;

.Register {
    transition: all 0.3s ease;
}
.Register:hover {
    animation: buttonHoverAnimation 0.5s ease forwards;
}

.Register:active {
    outline: 2px solid #D9D9D9;
    outline-offset: 2px;
}

@keyframes buttonHoverAnimation {
    0% {
        opacity: 20%;
        background-color: #111818;
        color: #000000;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    }
    100% {
        background-color: #0E151A;
        color: #D9D9D9;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    }
}
